In [1]:
import pandas as pd

# Replace with the actual path to your CSV file
file_path = "GOOGLE.csv"

# Load the CSV file into a pandas DataFrame
df = pd.read_csv(file_path)

df = df[["Open" , "High" , "Low" , "Close" , "Volume",]]
df['high_low'] = (df['High'] - df['Low']) / df['Close'] * 100.0
df['pct_change'] = (df['Close'] - df['Open']) / df['Open'] * 100.0

df = df[['Close' , 'high_low' , 'pct_change' , 'Volume']]

print(df.head())

      Close  high_low  pct_change     Volume
0  2.511011  8.072565    0.339980  893181924
1  2.710460  7.921718    7.226980  456686856
2  2.737738  4.049365   -1.218969  365122512
3  2.624374  7.657102   -5.726378  304946748
4  2.652653  3.886788    0.990853  183772044

In [2]:
df

           Close  high_low  pct_change     Volume
0       2.511011  8.072565    0.339980  893181924
1       2.710460  7.921718    7.226980  456686856
2       2.737738  4.049365   -1.218969  365122512
3       2.624374  7.657102   -5.726378  304946748
4       2.652653  3.886788    0.990853  183772044
...          ...       ...         ...        ...
4712  107.349998  2.757336   -0.959499   36360100
4713  111.750000  4.483223    3.500972   63153400
4714  116.570000  3.011061    1.013863   78900000
4715  117.510002  1.633902    0.711349   41073800
4716  116.510002  2.119991    0.344502   36226100

[4717 rows x 4 columns]